body {
    margin: 0;

    .container {
        background-image: linear-gradient(45deg, #888888, #888888), url("../Images/background@1X.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken;
        min-height: 100vh;

        .box {
            margin: 0 auto;
            width: 80%;
            padding: 2rem 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 92vh;

            .header {
                display: flex;
                justify-content: space-between;
                color: white;


                .logo {
                    display: grid;
                    grid-template-columns: 0.8fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    font-weight: bold;


                    div.img {
                        grid-row: 1/3;
                        background-size: 81%;
                        background-image: url("../Images/logo@1X.png");
                        background-repeat: no-repeat;
                    }

                    div {
                        font-size: 29px;
                    }

                    div:last-of-type {
                        font-size: 18px;
                    }
                }

                .logo:hover>div {
                    color: #f26522;
                }

                .logo:hover .img {
                    background-image: url("../Images/logo@1X\ \(2\).png");
                    background-repeat: no-repeat;
                }

                .contacts {
                    display: grid;
                    justify-items: end;

                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 18px;
                    }
                }


            }

            .content {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-content: space-between;
                height: 64vh;

                .card {
                    width: 30%;
                }

                .card .card__bg {
                    background-image: url("../Images/Layer\ 21@1X.png");
                    height: 200px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;
                }

                .card__bg .popup {
                    position: absolute;
                    bottom: 0;
                    height: 0;
                    background-color: #f26522;
                    width: 100%;
                    color: white;
                    overflow: hidden;
                    transition: all .5s;
                    display: flex;
                    justify-content: space-around;
                }

                .popup .popup__title {
                    align-self: center;
                }

                .popup .popup__title>div:first-of-type {
                    font-size: 10px;
                }

                .popup .popup__title>div:last-of-type {
                    font-size: 20px;
                }

                .card__bg .popup>a {
                    font-size: 14px;
                    align-self: center;
                    text-decoration: none;
                    color: white;
                }

                .card:hover {
                    .popup {
                        height: 50px;
                    }

                    .card__desk {
                        color: #f26522;
                        font-weight: bolder;
                    }
                }






                .card .card__desk {
                    font-size: 18px;
                    color: white;
                    margin-top: 10px;
                    text-align: center;
                }

                .card .img2 {
                    background-image: url("../Images/Layer\ 22@1X.png");
                }

                .card .img3 {
                    background-image: url("../Images/Layer\ 23@1X.png");
                }

                .card .img4 {
                    background-image: url("../Images/Layer\ 24@1X.png");
                }

                .card .img5 {
                    background-image: url("../Images/Layer\ 25@1X.png");
                }

                .card .img6 {
                    background-image: url("../Images/Layer\ 26@1X.png");
                }
            }

            .footer {
                color: white;
                font-size: 12px;
                text-align: center;

            }
        }
    }
}