    body {
        margin: 0;

        .container {

            .content {

                .header__background {
                    background-color: #2d7053;
                }

                .header {
                    display: grid;
                    grid-template-columns: 0.5fr 3fr 0.5fr;
                    padding: 45px 5%;

                    margin: 0 auto;

                    a {
                        text-decoration: none;
                    }

                    .header__title {
                        color: white;
                        display: grid;
                        grid-template-rows: 1fr 1fr 1fr;
                        font-size: 30px;
                        padding-left: 10%;
                    }

                    a {
                        height: 70%;
                    }

                    .header__btn {

                        display: grid;
                        grid-template-rows: 1fr 1fr 1fr;
                        align-self: center;



                        img {
                            justify-self: center;
                            align-self: center;
                        }
                    }
                }

                .body__background {
                    background-image: linear-gradient(45deg, #888888, #888888), url("../Images/0325115cfca2f08bd19529e1d4a4396a@1X.png");
                    background-blend-mode: darken;
                    min-height: 100vh;
                    background-size: cover;
                    background-repeat: no-repeat;
                    display: grid;

                    a {
                        text-decoration: none;
                    }

                    .btn {
                        font-size: 24px;
                        color: white;
                        background-color: #cb9223;
                        padding: 28px 46px 28px 46px;
                        justify-self: center;
                        align-self: flex-end;
                        margin-bottom: 60px;

                    }
                }

                .information {
                    width: 80%;
                    margin: 70px 15% 0 5%;
                    display: grid;
                    grid-template-columns: 1fr 2.5fr;
                    justify-items: center;

                    img {
                        justify-self: start;
                        border-radius: 50%;
                    }

                    .details {
                        width: 25%;
                        align-self: center;
                        justify-self: center;
                    }

                    .details>div:first-of-type {
                        font-size: 36px;
                        margin-bottom: 30px;
                        font-weight: bolder;
                    }

                    .details>div:last-of-type {
                        font-size: 24px;
                    }
                }

                .description {
                    width: 80%;
                    margin: 30px 15% 0 5%;


                    div {
                        font-size: 24px;
                    }

                    .description__header {
                        font-size: 36px;
                        margin-top: 70px;
                        margin-bottom: 30px;
                    }

                    .description__reasons {
                        margin-top: 30px;
                    }
                }

                .btn {
                    display: grid;

                    a {
                        text-decoration: none;
                        font-size: 24px;
                        color: white;
                        background-color: #cb9223;
                        padding: 28px 46px 28px 46px;
                        justify-self: center;
                        align-self: flex-end;
                        margin: 60px 0 60px 0;
                    }
                }

                .footer {
                    background-color: #888888;
                    display: grid;
                    grid-template-columns: 1fr 2fr 1fr;
                    padding: 35px 5%;
                    font-size: 18px;
                    color: white;

                    .adress {
                        font-size: 20px;
                        align-self: center;
                        justify-self: end;
                        padding-right: 5%;
                    }


                    .contacts {
                        display: grid;
                        grid-template-rows: 1fr 1fr;
                        

                        div {
                            justify-self: end;
                        }

                        div:first-of-type {
                            margin-bottom: 20px;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: white;
                    }
                }



            }
        }
    }